html, body {
    height: 100%;
}
canvas {
    display: block;
}
body {
	padding: 0;
	margin: 0;
}
#unity-container {
	width: 100%;
    height: 100%;
	background: #708000;
}
#unity-canvas {
	width: 100%;
    height: 100%;
}
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo {  text-align: center; }
#unity-progress-bar-empty {
	width: 200px;
	height: 18px;
	border-radius: 5px;
    margin: 28px 10px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}
#unity-progress-bar-full {
	width: 0%;
    height: 100%;
	border-radius: 3px;
    background: white;
}
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
